main {
  min-height: 100vh;
}

.logo {
  width: 30px;
  margin-right: 10px;
}

.search {
  position: relative;
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
}

.pointer {
  cursor: pointer;
}

#articleModaldate {
  font-weight: bold;
}

.comment-container {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.left-comment {
  justify-content: flex-start;
}

.right-comment {
  justify-content: flex-end;
}

.comment {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
}

.username {
  font-weight: bold;
}

.timestamp {
  font-size: 0.8em;
  color: #6c757d;
}
