.env
back/vendor
back/.htaccess
back/.env
front/.htaccess
front/tarteaucitronjs
front/script/config.js
front/script/about.js
custom_bot.py
.vscode
test.py
tokenizer.pickle
encoder_model.h5
decoder_model.h5
training_model.h5
execute.sh
mails.py
run_in_user_env.sh
interviewer.py
