.env
back/vendor
back/.htaccess
back/.env
front/.htaccess
front/tarteaucitronjs
front/script/config.js
front/script/about.js
custom_bot.py
.vscode
model/*
!model/.gitkeep
logs/*
!logs/.gitkeep
src/utils/__pycache__
__pycache__
env