OPENAI_API_KEY = your open ai key
NEWS_API_KEY = your news api key
PEXELS_API_KEY = your pexels key
MY_DOMAIN_URL = your api url
EMAIL = your email to login to api
PASSWORD = your password to login to api
YOUR_MODEL = path to your local model