DB_HOST=your db host
DB_NAME=your db name
DB_USER=your db username
DB_PASS=your db pass
SECRET_KEY=your secret passphrase
PERSPECTIVE_API_KEY=your perspective api key
AUTOGENIUS_DAILY_EMAIL=your auto genius mail
MY_OWN_EMAIL=your own mail