body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main {
  min-height: 100vh;
}

.logo {
  width: 40px;
}

.search {
  position: relative;
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
}

.pointer {
  cursor: pointer;
}

.comment-container {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.left-comment {
  justify-content: flex-start;
}

.right-comment {
  justify-content: flex-end;
}

.comment {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
}

.username {
  font-weight: bold;
}

.article-image {
  height: 300px;
  object-fit: cover;
}

.toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1050;
}
